<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>lxf</display-name>

  <!--上下文参数-->
  <context-param>
    <param-name>locations</param-name>
    <param-value>com.lxf.service</param-value>
  </context-param>

  <!--<filter>-->
    <!--<filter-name>LoginFilter</filter-name>-->
    <!--<filter-class>com.lxf.filter.LoginFilter</filter-class>-->
  <!--</filter>-->

  <!--<filter-mapping>-->
    <!--<filter-name>LoginFilter</filter-name>-->
    <!--<url-pattern>login/*</url-pattern>-->
  <!--</filter-mapping>-->

  <!--配置listener-->
  <!--<listener>-->
    <!--<listener-class>com.lxf.listener.ContextListener</listener-class>-->
  <!--</listener>-->

  <!--配置servlet-->
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>per.lxf.webmvc.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>location</param-name>
      <param-value>com.lxf.controller</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
